# Introduction to Pandas
From its [documentation](http://pandas.pydata.org/pandas-docs/stable/):
> pandas, or the Python Data Analysis Toolkit, is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. A

> pandas is well suited for many different kinds of data:
* Tabular data with heterogeneously-typed columns (e.g. Excel, SQL)
* Ordered and unordered time series data.
* Arbitrary matrix data with row and column labels
* Any other form of observational / statistical data sets

> The two primary data structures of pandas, **Series** (1-dimensional) and **DataFrame** (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. For R users, DataFrame provides everything that R’s data.frame provides and much more. 

>pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

Pandas is a powerful library that dramatically expands upon the NumPy library to intuitively and efficiently manipulate and analyze data. Pandas is a core package in the toolkit of any python-savvy researcher and will be used in this and all subsequent modules of the tutorial. 

## Series
### Generating Series
The **Series** object is one of two atomic units of Pandas. In fact, it's the object from DataFrames are generated. In a word, **Series** are extensions of NumPy arrays with dictionary-like properties.

In [1]:
import numpy as np
from pandas import Series

## Define a basic array.
arr = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0]

## Convert to Series.
series = Series(arr)
series

0    0.0
1    0.2
2    0.4
3    0.6
4    0.8
5    1.0
dtype: float64

As can be seen, Series store arrays with indices. In this case, the indices were autogenerated as a list of integers starting from 0. Let us make the indices more explict.

In [2]:
indices = ['a', 'b', 'c', 'd', 'e', 'f']
series = Series(arr, index=indices)
series

a    0.0
b    0.2
c    0.4
d    0.6
e    0.8
f    1.0
dtype: float64

Series can also be generated from pythonic dictionaries.

In [3]:
d = dict(a = 0.0, b = 0.2, c = 0.4, d = 0.6, e = 0.8, f = 1.0)
series = Series(d)
series

a    0.0
b    0.2
c    0.4
d    0.6
e    0.8
f    1.0
dtype: float64

### Manipulating Series
With indices, Series are a hybrid NumPy array and pythonic dictionary. The indexing/slicing behavior of Series supports this.

In [4]:
## Lookup like Python dictionary
series['d']

0.59999999999999998

In [5]:
## Index like NumPy array.
series[[1,4]]

b    0.2
e    0.8
dtype: float64

In [6]:
## Slice like NumPy array.
series[:3]

a    0.0
b    0.2
c    0.4
dtype: float64

Like NumPy arrays, Pandas Series can be directly manipulated.

In [7]:
series + 0.5

a    0.5
b    0.7
c    0.9
d    1.1
e    1.3
f    1.5
dtype: float64

In [8]:
series > 0.5

a    False
b    False
c    False
d     True
e     True
f     True
dtype: bool

Using a conditional to transform the values of a Series into Boolean types is helpful for indexing into Series.

In [9]:
series[series > 0.5]

d    0.6
e    0.8
f    1.0
dtype: float64

Just like dictionaries, the respective components of a Series object (indices, array) can be separately accessed. This can be used to update elements of the Series.

In [10]:
## Convert Series back into NumPy array.
series.as_matrix()

array([ 0. ,  0.2,  0.4,  0.6,  0.8,  1. ])

In [11]:
## Access values of Series.
series.values

array([ 0. ,  0.2,  0.4,  0.6,  0.8,  1. ])

In [12]:
## Access index of Series.
series.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [13]:
## Update Series index.
series.index = ['i1','i2','i3','i4','i5','i6']
series

i1    0.0
i2    0.2
i3    0.4
i4    0.6
i5    0.8
i6    1.0
dtype: float64

Mathematical operations can be applied to two (or more) Series. Importantly, Series align themselves over their indices.

In [14]:
## Define three new series.
s1 = series[:3]
s1

i1    0.0
i2    0.2
i3    0.4
dtype: float64

In [15]:
s2 = series[:3]
s2

i1    0.0
i2    0.2
i3    0.4
dtype: float64

In [16]:
s3 = series[2:-1]
s3

i3    0.4
i4    0.6
i5    0.8
dtype: float64

In [17]:
## Compute overlap of indices (no problem!).
s1 * s2

i1    0.00
i2    0.04
i3    0.16
dtype: float64

In [18]:
## Partial overlap of indices (missing data!).
s1 * s3

i1     NaN
i2     NaN
i3    0.16
i4     NaN
i5     NaN
dtype: float64

In [19]:
## New elements can be added to a Series 
series['i7'] = 5.
series

i1    0.0
i2    0.2
i3    0.4
i4    0.6
i5    0.8
i6    1.0
i7    5.0
dtype: float64

### Series Attributes
Similar to NumPy arrays, Series objects have a number of useful attributes.

In [20]:
## Initialize new series.
arr = [2.5, 1.0, np.nan, 3.1, 0.5, 1.0]
indices = ['a', 'b', 'c', 'd', 'e', 'f']
series = Series(arr, index=indices)
series

a    2.5
b    1.0
c    NaN
d    3.1
e    0.5
f    1.0
dtype: float64

The **loc** attribute allows for indexing similar to using brackets.

In [21]:
series.loc['a']

2.5

The **iloc** attribute allows for indexing by element position.

In [22]:
series.iloc[0]

2.5

The **head** attribute displays the first elements of a series.

In [23]:
series.head(3)

a    2.5
b    1.0
c    NaN
dtype: float64

The **tail** attribute displays the last elements of a series.

In [24]:
series.tail(3)

d    3.1
e    0.5
f    1.0
dtype: float64

The **isnull** attribute can be used to check for NaN (missing) data.

In [25]:
series.isnull()

a    False
b    False
c     True
d    False
e    False
f    False
dtype: bool

Conversely, **notnull** checks for non-NaN (non-missing) data.

In [26]:
series.notnull()

a     True
b     True
c    False
d     True
e     True
f     True
dtype: bool

The attribute **fillna** fills all NaN (missing) data with a specified value.

In [27]:
series.fillna(-1)

a    2.5
b    1.0
c   -1.0
d    3.1
e    0.5
f    1.0
dtype: float64

The attribute **dropna** removes NaN (missing) data

In [28]:
series.dropna()

a    2.5
b    1.0
d    3.1
e    0.5
f    1.0
dtype: float64

The **drop** attribute removes data specified by their index.

In [29]:
series.drop(['b','d'])

a    2.5
c    NaN
e    0.5
f    1.0
dtype: float64

The **unique** attribute returns the unique set of members from the Series.

In [30]:
series.unique()

array([ 2.5,  1. ,  nan,  3.1,  0.5])

The **value_counts** attribute returns the unique set of members from the Series and their respective frequency.

In [31]:
series.value_counts()

1.0    2
3.1    1
0.5    1
2.5    1
dtype: int64

Series also have all of the standard summary attributes (e.g. sum, cumsum, max, min, mean, std, median, mode) and also has the **describe** attribute.

In [32]:
series.describe()

count    5.000000
mean     1.620000
std      1.116692
min      0.500000
25%      1.000000
50%      1.000000
75%      2.500000
max      3.100000
dtype: float64

The **append** attributes allows for multiple Series to be joined.

In [33]:
series.append(series, ignore_index=False)

a    2.5
b    1.0
c    NaN
d    3.1
e    0.5
f    1.0
a    2.5
b    1.0
c    NaN
d    3.1
e    0.5
f    1.0
dtype: float64

## DataFrames
### Generating DataFrames
In all likelihood, the average analyst will spend very little time working with Series. Instead, the power of Pandas is in the DataFrame, which reproduces the object of the same name from R. Series are important because DataFrames are, in essence, just a series of Series; in other words, DataFrames are a collection of series, each comprising a separate column, and aligned on the index. 

Similar to Series, DataFrames can be initialized from lists, arrays, or dictionaries.

In [34]:
from pandas import DataFrame

## Make data (5 rows, 2 cols).
arr = [[8, 5], [0, 3], [9, 7], [6, 5], [2, 8]]

## Convert to DataFrame.
df = DataFrame(arr, columns=['foxtrot','yankee'])
df

   foxtrot  yankee
0        8       5
1        0       3
2        9       7
3        6       5
4        2       8

DataFrames can also be initialized from dictionaries.

In [35]:
d = dict( foxtrot = [8, 0, 9, 6, 2],
          yankee = [5, 3, 7, 5, 8] )

## Conver to DataFrame
df = DataFrame(d)
df

   foxtrot  yankee
0        8       5
1        0       3
2        9       7
3        6       5
4        2       8

Indices can also easily be added to DataFrames.

In [36]:
## Make data (5 rows, 2 cols).
arr = [[8, 5], [0, 3], [9, 7], [6, 5], [2, 8]]

## Convert to DataFrame.
df = DataFrame(arr, columns=['foxtrot','yankee'], index=['a','b','c','d','e'])
df

   foxtrot  yankee
a        8       5
b        0       3
c        9       7
d        6       5
e        2       8

As mentioned above, DataFrames are essentially collections of Series. As such, it should come as no surprise that DataFrames can be initialized from Series as well. DataFrames initialized from Series, however, obey the indices of the series.

In [37]:
df = DataFrame( dict(foxtrot = s1, yankee = s3, hotel = s1) )
df

    foxtrot  hotel  yankee
i1      0.0    0.0     NaN
i2      0.2    0.2     NaN
i3      0.4    0.4     0.4
i4      NaN    NaN     0.6
i5      NaN    NaN     0.8

### Manipulating DataFrames

Indexing into and slicing DataFrames is very similar to Series. With DataFrames, elements can be accessed by row (index), column, or both. A column of a DataFrame can be indexed just like it were a dictionary.

In [38]:
df['foxtrot']

i1    0.0
i2    0.2
i3    0.4
i4    NaN
i5    NaN
Name: foxtrot, dtype: float64

Columns also become attributes of the DataFrame.

In [39]:
df.foxtrot

i1    0.0
i2    0.2
i3    0.4
i4    NaN
i5    NaN
Name: foxtrot, dtype: float64

Multiple columns can be indexed as well.

In [40]:
df[['foxtrot', 'hotel']]

    foxtrot  hotel
i1      0.0    0.0
i2      0.2    0.2
i3      0.4    0.4
i4      NaN    NaN
i5      NaN    NaN

The **columns** attribute of a DataFrame can be used to index multiple columns as once.

In [41]:
print(df.columns)
df[ df.columns[::2] ]

Index(['foxtrot', 'hotel', 'yankee'], dtype='object')

    foxtrot  yankee
i1      0.0     NaN
i2      0.2     NaN
i3      0.4     0.4
i4      NaN     0.6
i5      NaN     0.8

Index by row by specifying index name.

In [42]:
df.loc['a']

KeyError: 'the label [a] is not in the [index]'

Using slicing syntax with a DataFrame indexes across multiple rows.

In [43]:
df[:3]

    foxtrot  hotel  yankee
i1      0.0    0.0     NaN
i2      0.2    0.2     NaN
i3      0.4    0.4     0.4

The **loc** attribute can be used to slice by both column and row. Slicing does not work in the same way here unfortunately. Indices need to be specified.

In [44]:
df.loc[df.index[:3], ['foxtrot', 'yankee']]

    foxtrot  yankee
i1      0.0     NaN
i2      0.2     NaN
i3      0.4     0.4

Conditional indexing can also be performed by finding values that meet some criterion. Below we return all rows of the DataFrame where *yankee* is greater than 0.5.

In [45]:
df[df['yankee'] > 0.5 ]

    foxtrot  hotel  yankee
i4      NaN    NaN     0.6
i5      NaN    NaN     0.8

The components of DataFrames (matrix, columns, indices) are very easily accessible. Moreover, DataFrames are easily converted into other types.

In [46]:
print(df.columns)
print(df.index)

Index(['foxtrot', 'hotel', 'yankee'], dtype='object')
Index(['i1', 'i2', 'i3', 'i4', 'i5'], dtype='object')

Convert DataFrame to NumPy array.

In [47]:
df.as_matrix()

array([[ 0. ,  0. ,  nan],
       [ 0.2,  0.2,  nan],
       [ 0.4,  0.4,  0.4],
       [ nan,  nan,  0.6],
       [ nan,  nan,  0.8]])

Convert DataFrame to dictionary of dictionaries.

In [48]:
df.to_dict()

{'foxtrot': {'i1': 0.0,
  'i2': 0.20000000000000001,
  'i3': 0.40000000000000002,
  'i4': nan,
  'i5': nan},
 'hotel': {'i1': 0.0,
  'i2': 0.20000000000000001,
  'i3': 0.40000000000000002,
  'i4': nan,
  'i5': nan},
 'yankee': {'i1': nan,
  'i2': nan,
  'i3': 0.40000000000000002,
  'i4': 0.59999999999999998,
  'i5': 0.80000000000000004}}

### Reading/Writing DataFrames
Pandas makes it very easy to read and write DataFrames. A number of Pandas functions support reading in different types of data formats, and the DataFrame object has built into it several functions for writing information to disk. 

We will load in the first gambling dataset of the first subject. (For a description of the dataset, see the **Putting it all together** section below.) The file is tab-separated, so we will specify tab as the appropriate separator. Note that read_table has many, many additional arguments to support reading in data of different formats.

In [49]:
import os
from pandas import read_excel, read_csv, read_table

df = read_table(os.path.join('gambling', 'subj01_run01.tsv'), sep='\t')
df.head(5)

,onset,duration,parametric loss,distance from indifference,parametric gain,gain,loss,PTval,respnum,respcat,response_time
0,0.0,3,0.1273,-0.0814,-0.139,20,15,5.15,0,-1,0.000
1,4.0,3,-0.0227,-0.4147,-0.189,18,12,6.12,2,1,1.793
2,8.0,3,0.1273,0.2519,-0.389,10,15,-4.85,3,0,1.637
3,18.0,3,0.1773,-0.0814,0.211,34,16,18.16,1,1,1.316
4,24.0,3,-0.3727,-0.0814,-0.189,18,5,13.05,1,1,1.670

In [50]:
## To write a DataFrame to file, check the DataFrame.to_ functions.
# df.to_

### DataFrame Attributes

Adding and dropping columns is very simple with Pandas. Here we will remove several unnecessary columns (e.g. onset, duration parametric loss, etc.) and then add a new variable, diff, which is the difference of the gain and loss variables.

In [51]:
## Drop unnecessary variables.
drop_columns = ['onset','duration','parametric loss', 'distance from indifference',
                'parametric gain', 'PTval']
df = df.drop(drop_columns, axis=1)    # axis specifies that we are dropping along columns.
df.head(5)

   gain  loss  respnum  respcat  response_time
0    20    15        0       -1          0.000
1    18    12        2        1          1.793
2    10    15        3        0          1.637
3    34    16        1        1          1.316
4    18     5        1        1          1.670

In [52]:
## Add difference column.
df['diff'] = df['gain'] - df['loss']
df.head(5)

   gain  loss  respnum  respcat  response_time  diff
0    20    15        0       -1          0.000     5
1    18    12        2        1          1.793     6
2    10    15        3        0          1.637    -5
3    34    16        1        1          1.316    18
4    18     5        1        1          1.670    13

It is also easy to rename columns. This can be accomplished by directly saving column names to the DataFrame colummns attribute, or we can use the rename attribute.

In [53]:
df = df.rename(columns={'response_time':'rt'})
df.head(5)

   gain  loss  respnum  respcat     rt  diff
0    20    15        0       -1  0.000     5
1    18    12        2        1  1.793     6
2    10    15        3        0  1.637    -5
3    34    16        1        1  1.316    18
4    18     5        1        1  1.670    13

Dropping rows is similarly easy. In this dataset, any respcat = -1 corresponds to a missing response. Let's remove those from the dataset. This can be achieved in a variety of ways.

In [54]:
## Aproach 1: Remove directly by indexing.
df[df['respcat'] != -1].head(5)

   gain  loss  respnum  respcat     rt  diff
1    18    12        2        1  1.793     6
2    10    15        3        0  1.637    -5
3    34    16        1        1  1.316    18
4    18     5        1        1  1.670    13
5    26    13        2        1  1.232    13

In [55]:
## Approach 2: Set all undesirable values to NaN. Use dropna.
df['respcat'] = np.where(df['respcat'] == -1, np.nan, df['respcat'])
df.head(5)

   gain  loss  respnum  respcat     rt  diff
0    20    15        0      NaN  0.000     5
1    18    12        2      1.0  1.793     6
2    10    15        3      0.0  1.637    -5
3    34    16        1      1.0  1.316    18
4    18     5        1      1.0  1.670    13

In [56]:
## Notice the index reflects the dropped trials!
df = df.dropna()
df.head(5)

   gain  loss  respnum  respcat     rt  diff
1    18    12        2      1.0  1.793     6
2    10    15        3      0.0  1.637    -5
3    34    16        1      1.0  1.316    18
4    18     5        1      1.0  1.670    13
5    26    13        2      1.0  1.232    13

Additional useful functions include: **transpose**, **drop_duplicates**, and **fillna.**

In [57]:
df.transpose;          # Tranpose the DataFrame (rows <--> cols)
df.drop_duplicates;    # Remove all duplicate rows from the DataFrame.
df.fillna;             # Fill all NaNs in DataFrame with specified value.

Sorting a DataFrame is achieved with the **sort_values** attribute.

In [58]:
## Sorting by one column.
df.sort_values('gain').head(5)

    gain  loss  respnum  respcat     rt  diff
2     10    15        3      0.0  1.637    -5
28    10     6        3      0.0  1.137     4
78    10    12        3      0.0  1.383    -2
59    10    11        4      0.0  1.806    -1
69    10     7        2      1.0  1.320     3

In [59]:
## Sorting by multiple columns.
df.sort_values(['gain', 'loss'], ascending=False).head(5)

    gain  loss  respnum  respcat     rt  diff
79    40    19        1      1.0  0.862    21
27    40    15        1      1.0  1.169    25
32    40    13        1      1.0  0.776    27
74    40    10        1      1.0  0.783    30
24    40     7        1      1.0  0.824    33

DataFrames have the same summary attributes as NumPy arrays (e.g. max, min, mean, std, median, mode). These can be applied selectively to specrific columns/rows, across columns/rows, or across the entire DataFrame. The **describe** attribute is especially useful for generating a quick description of the dataset.

In [60]:
df.describe().round(2)

        gain   loss  respnum  respcat     rt  diff
count  85.00  85.00    85.00     85.0  85.00  85.0
mean   25.62  12.42     1.93      0.8   1.32  13.2
std     9.31   4.77     0.95      0.4   0.34  10.5
min    10.00   5.00     1.00      0.0   0.73  -6.0
25%    18.00   8.00     1.00      1.0   1.08   4.0
50%    26.00  12.00     2.00      1.0   1.27  13.0
75%    34.00  17.00     2.00      1.0   1.53  21.0
max    40.00  20.00     4.00      1.0   2.30  35.0

The **value_counts** attribute of DataFrames replaces np.unique(x, return_counts=True). It's much easier to type.

In [61]:
df['respnum'].value_counts()

2    36
1    32
4     9
3     8
Name: respnum, dtype: int64

Another important attribute to highlight is **apply**. This function is similar to **apply_across_axis**, and can be used to apply a command row-wise or column-wise across a DataFrame.

In [62]:
## Apply zscore function across columns.
def zscore(arr):
    return (arr - arr.mean()) / arr.std()

df.apply(zscore, axis=0).head(5)    # Apply across columns.

       gain      loss   respnum  respcat        rt      diff
1 -0.818676 -0.088802  0.074418  0.49705  1.382515 -0.685914
2 -1.677781  0.540210  1.128675 -1.98820  0.927454 -1.733839
3  0.899533  0.749880 -0.979839  0.49705 -0.008923  0.457276
4 -0.818676 -1.556495 -0.979839  0.49705  1.023717 -0.019053
5  0.040428  0.120869  0.074418  0.49705 -0.253956 -0.019053

### Combining DataFrames
Combining DataFrames is one of the most important operations in Pandas. This is achieved in one of three ways:
1. **Append:** add row to existing DataFrame
2. **Concat:** join two or more DataFrames with identical columns
3. **Merge:** join two or more DataFrames with non-overlapping columns based on a specified index.

The **append** attribute is used to store new rows to the DataFrame. It accepts Series or dictionary objects as inputs.

In [63]:
## Make series of ones with length equal to columns.
series = Series( np.ones_like(df.columns), index=df.columns )

## Append.
df.append(series, ignore_index=True).tail(3)

    gain  loss  respnum  respcat     rt  diff
83    20    12        2      1.0  1.249     8
84    24    14        2      1.0  1.266    10
85     1     1        1      1.0  1.000     1

In [64]:
## Make dictionary.
d = dict(gain = 1, loss = 1, respnum = 1, respcat = 1, rt = 1, diff = 1)

## Append.
df.append(d, ignore_index=True).tail(3)

    gain  loss  respnum  respcat     rt  diff
83    20    12        2      1.0  1.249     8
84    24    14        2      1.0  1.266    10
85     1     1        1      1.0  1.000     1

The **concat** command from pandas can be used to join two DataFrames along their rows. If the DataFrames do not fully share columns, NaNs are used to fill missing data.

In [65]:
from pandas import concat

print(df.shape)

df2 = concat([ df, df[df.columns[:3]] ])

print(df2.shape)
df2.tail(5)

(85, 6)
(170, 6)

    diff  gain  loss  respcat  respnum  rt
81   NaN    16    18      NaN        4 NaN
82   NaN    36    12      NaN        2 NaN
83   NaN    26     9      NaN        1 NaN
84   NaN    20    12      NaN        2 NaN
85   NaN    24    14      NaN        2 NaN

Finally, the **merge** command can be used to vertically join two DataFrames along some specified index.

In [66]:
## Separate DataFrame into two sets of variables.
df1 = df[['gain','loss','respnum','respcat']]
df1.head(3)

   gain  loss  respnum  respcat
1    18    12        2      1.0
2    10    15        3      0.0
3    34    16        1      1.0

In [67]:
df2 = df[['gain','loss','rt','diff',]]
df2.head(3)

   gain  loss     rt  diff
1    18    12  1.793     6
2    10    15  1.637    -5
3    34    16  1.316    18

In [68]:
## Merge on columns (gain, loss)
df3 = df1.merge(df2, on=['gain','loss'], how='inner')
df3.head(3)

   gain  loss  respnum  respcat     rt  diff
0    18    12        2      1.0  1.793     6
1    10    15        3      0.0  1.637    -5
2    34    16        1      1.0  1.316    18

In [69]:
## Merge on index (duplicates overlapping columns).
df3 = df1.merge(df2, left_index=True, right_index=True)
df3.head(3)

   gain_x  loss_x  respnum  respcat  gain_y  loss_y     rt  diff
1      18      12        2      1.0      18      12  1.793     6
2      10      15        3      0.0      10      15  1.637    -5
3      34      16        1      1.0      34      16  1.316    18

## Putting it all together
Using the material we've covered so far, we will assemble and describe a dataset.

The dataset we will be working with was taken from [Tom et al. (2007): *The Neural Basis of Loss Aversion
in Decision-Making Under Risk*](http://science.sciencemag.org/content/315/5811/515.full). In this neuroimaging experiment, the brains of 16 individuals were imaged while they performed a task probing decision making. In the task, participants were presented with 50/50 gambles comprised of potential gains and losses. The gains and losses were independently varied, where gains ranged from \$10 to \$40 (in increments of \$2) and losses ranged from \$5 to \$20 (in increments of $1). Participants were instructed to respond with one of four levels of judgments: (1) strongly accept, (2) weakly accept, (3) weakly reject, and (4) strongly reject. Participants each completed 256 total gambles, across three sessions.

The behavioral data for this experiment is stored in the *gambling* folder inside the *Module 2* folder.

### Load and merge gambling data.

In [ ]:
import os
import numpy as np
from pandas import DataFrame, concat, read_table

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
### Specify paths to files. 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#

## os.listdir is a useful command that lists all of the files in
## a given directory. We are using the string attribute, startswith,
## to limit our search to only files starting with 'subj'.

tsv_files = [f for f in os.listdir('gambling') if f.startswith('subj')]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
### Main loop.
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#

## Initialize an empty list for storing loaded dataframes.
dataframes = []

## Iterate over TSV files.
for tsv in tsv_files:
    
    ## Get subject/run ID: Here we remove the file extension
    ## and split the filename string on the underscore. That 
    ## way we can store the subject ID and run number.
    subj, run = tsv.replace('.tsv','').split('_')
    
    ## Load dataframe. 
    ## os.path.join creates a filepath with its inputs
    ## using the correct path separator for the OS.
    df = read_table( os.path.join('gambling', tsv) )
    
    ## Drop undesired columns.
    drop_columns = ['onset','duration','parametric loss', 'distance from indifference',
                    'parametric gain', 'PTval']
    df = df.drop(drop_columns, axis=1)    # axis specifies that we are dropping along columns.
    
    ## Remove all missing responses (i.e. respcat == -1).
    df = df[ df['respcat'] != -1 ]
    
    ## Rename response time variable.
    df = df.rename(columns={'response_time':'rt'})
    
    ## Store three new varaibles.
    df['diff'] = df['gain'] - df['loss']    # Create difference variable
    df['subj'] = subj                       # Store subject ID.
    df['run']  = run                        # Store run number.
    
    ## Append to list.
    dataframes.append( df )
    
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
### Concatenate dataframes.
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#

## Concatenate dataframes.
data = concat(dataframes) 

## Sort dataframe.
data = data.sort_values(['subj','run','gain','loss'])
print(data.shape)
data.head(5)

In [ ]:
## For cleanliness, let's reorder the columns.
data = data[['subj','run','gain','loss','diff','respnum','respcat','rt']]
data.head(5)

In [ ]:
## Notice above that the index is out of order. This makes sense
## given how we combined and resorted the data. Let's reset the index.
data = data.reset_index(drop=True)
data.head(5)

### Save aggregated data.
Saving a dataframe is very easy and requires only a single line of code. Here we will save the data as a CSV file, but other options exist including: Excel, HDF, HTML, JSON, SQL, STATA.

In [ ]:
## We set index to False to ignore the indices, as they provide no information. 
data.to_csv(os.path.join('gambling', 'group_gambling_data.csv'), index=False)

### Categorical Data
Briefly, it's worth mentioning that Pandas allows for the storage of categorical data. This will map strings to unique integers, and represent the strings as integers internally. This can consierably reduce the memory usage of a DataFrame for large text-heavy datasets.

In [ ]:
data.info(memory_usage=True)

In [ ]:
from pandas import Categorical

data['subj'] = Categorical(data['subj'])
data['run'] = Categorical(data['run'])

data.info(memory_usage=True)

### GroupBy Tables
The groupby command is a simple yet powerful command that allows the user to aggregate, transform, and filter data efficiently. We will provide examples of each in turn.

#### Aggregation
Compute some summary statistic over groups in the data. For example, we will compute some averages across subjects here.

In [ ]:
## Create groupby object, grouped over subject.
gb = data.groupby('subj')
gb

In [ ]:
## Compute mean over responses and reaction time.
gb[['respcat','rt']].mean()

In [ ]:
## It is possible to create groupby objects over multiple dimensions.
gb = data.groupby(['gain','loss'])
gb.respcat.mean()

As an aside, pivot/pivot_table functions of DataFrames can accomplish something similar.

In [ ]:
## Use pivot_table to compute the equivalent of GroupBy 
## on gain & loss, averaging over respcat.
data.pivot_table(index='gain', columns='loss', values='respcat', aggfunc='mean').round(2)

#### Transformation
Transform values meeting some specific criterion according to a specified function. Here we will impute missing response times as the mean of the response times for a given subject.

In [ ]:
## Make a copy of the original dataset.
missing_data = data.copy()

## Add missing data for two subjects.
d = dict(subj='subj01', run='run01', gain=10, loss=6, diff=4, respnum=2, respcat=0, rt=np.nan)
missing_data = missing_data.append(d, ignore_index=True)

d = dict(subj='subj10', run='run01', gain=10, loss=6, diff=4,respnum=2, respcat=0, rt=np.nan)
missing_data = missing_data.append(d, ignore_index=True)

missing_data.tail(3)

In [ ]:
## Make groupby object.
gb = missing_data.groupby('subj')

## Transform by subject on missing data.
imputed_data = gb.transform(lambda x: x.fillna(x.mean()))

imputed_data.tail(3)

#### Filtration
Filter a dataset accordign to some criterion. Here we will create a new subset of data comprised of only subjects who took the risky bet more than half the time.

In [ ]:
## Group by subject.
gb = data.groupby('subj')

## Filter on responses.
filtered_data = gb.filter(lambda x: x.respcat.mean() > 0.5)

## Identify remaining subjects.
filtered_data['subj'].unique()

# Introduction to Data Visualization
## Matplotlib
Matplotlib, or the Matlab plotting library, is the core plotting package of the scientific python distribution. The aim of Matplotlib is to recreate all of the plotting capabilities of Matlab in python. As such, much of the syntax/style of Matplotlib reflects Matlab plotting. 

We will go through the syntax of plotting the five most common types of plots: bar plots, line plots, scatter plots, boxplots, and heatmaps. We will also cover adding details to plots (e.g. axes, titles, legends, errorbars), making multiple plots in one figure, and scaling/sizing plots.

Similar to plotting in R, pure Matplotlib is a little clunky and a lot of code is needed to make more visually appealing plots. For this reason, we will introduce the Seaborn package later. Seaborn is similar to ggplot2 in that, with a tidy dataframe and some knowledge of the syntax, beautiful plots can quickly/easily be generated. But, it's better to crawl before walking, so we'll start with Matplotlib first.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline 

## NOTE: The second line is a bit of notebook magic! 
## It's a jupyter-notebook shortcut that makes all
## plots be displayed at the bottom of a cell.

### Figures & Axes
A brief note: In Matplotlib jargon, an axis is a plot (e.g. barplot, scatterplot) and a figure is the surrounding object containing all plots. The most basic figure contains a single axis (i.e. one plot). More complex figures may have multiple plots of different sizes and numbers per row. 

This distinction is important because certain graphical tweaks can only be applied to figures or axes. For example, figures control the size of the canvas, the spacing of plots, and saving figures. Axes control plot-specific features, including labels, titles, and legends. To start, we will only generate figures with one plot. Later, we will introduce drawing multiple plots per figure.

### Barplots
Barplots are probably the least intuitive plot in Matplotlib because the user must specify the starting point and width of the bars (this is in contrast to other languages that automatically assign x-coordinates to the bars). Though clunky, this does provide some additional control to the user. 

In this example, we will plot the average response within subjects.

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(12,4))

## Make a new axis: The numbers correspond to
## row, column, and plot index. For example,
## subplot(211) would mean creating the 
## first plot of a figure with 2 rows and 1 column.
ax = plt.subplot(111)

## Use groupby to compute average response.
avg_resp = data.groupby('subj').respcat.mean()

## Now we have to specify the starting positions of
## the bars along the x-axis. We will have each bar
## begin at a sequential integer for each new subject
## (i.e., 0, 1, 2, ... N).
n_subj = len(avg_resp)
xpos = np.arange(n_subj)

## Now we can plot.
width = 0.9
ax.bar(left=xpos, height=avg_resp, width=width, color='#7ec0ee');

## Fix x-axis.
ax.set_xlim(-0.1);                                   # Start x-axis at -0.1 to leave equal room 
                                                     # on both sides.
ax.set_xticks(xpos + width / 2.);                    # Set x-tickmarks at center of bars.
ax.set_xticklabels(data.subj.unique(), fontsize=12); # Set subjects as x-ticklabels
ax.set_xlabel('Subjects', fontsize=18);              # Set x-axis label.

## Fix y-axis.
ax.set_ylim(0,1);
ax.set_ylabel('Average Response', fontsize=18);

## Set title.
ax.set_title('Example Barplot', fontsize=24);

## Autoscale image.
plt.tight_layout();    # Reduce whitespace outside of plot.

Grouped barplots must be manually generated, as in the following example where we plot the average response and reponse time data by subject.

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(12,4))

## Make a new axis.
ax = plt.subplot(111)

## Use groupby to compute averages.
gb = data.groupby('subj')
avg_resp = gb.respcat.mean()
std_resp = gb.respcat.std()
avg_rt = gb.rt.mean()
std_rt = gb.rt.std()

## Specify the starting positions of the bars.
n_subj = 5
resp_pos = [0.0, 2.5, 5.0, 7.5, 10.0]
rt_pos = [1.0, 3.5, 6.0, 8.5, 11.0]

## Make barplots. Here we use the yerr flag to make error bars.
## we also define the condition using label.
width = 1.0
ax.bar(resp_pos, avg_resp[:n_subj], width, label = 'Choice',
       yerr=std_resp[:n_subj], color='#7ec0ee');
ax.bar(rt_pos, avg_rt[:n_subj], width, label='RT',
       yerr=std_rt[:n_subj], color='#71eeb8');

## Fix x-axis.
ax.set_xlim(-0.1, 12.1);
ax.set_xticks(rt_pos);
ax.set_xticklabels(data.subj.unique(), fontsize=12);
ax.set_xlabel('Subjects', fontsize=18);

## Set title.
ax.set_title('Example Grouped Barplot', fontsize=24);

## Set horizontal line. Starts at zero and travels 
## length of plot.
ax.hlines(0, -0.1, 12.1, color='black')

## Add legend.
ax.legend(loc='best', frameon=False)

## Autoscale image.
plt.tight_layout();    # Reduce whitespace outside of plot.

### Lineplots
Lineplots are more intuitive than are barplots, requirng at the minimum only the x- and y-datapoints. Many tweaks and embellishments can similarly be added. 

Here we will plot the nominal likelihood-of-take of the risky bet against the diff values. In the example, we use the Matplotlib color shorthands. These are:
* b: blue 
* g: green 
* r: red 
* c: cyan 
* m: magenta 
* y: yellow
* k: black 
* w: white

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(12,4))

## Make a new axis.
ax = plt.subplot(111)

## Compute groupby gain.
gb = data.groupby('diff')
respnum_avg = gb.respnum.mean()

## Plot average gain response.
## In this example, we use the matplotlib color shorthands. 
ax.plot( respnum_avg.index, respnum_avg, color='b', linewidth=3 );

## We will also shade within 1sd of the line. To do this, we use
## fill_between, which asks for the x-points and the y-lower/upper
## bounds along which to fill. The alpha parameter below reflects
## the transparency from {transparent = 0.0, opaque = 1.0}.
respnum_std = gb.respnum.std()
ax.fill_between( respnum_avg.index, respnum_avg - respnum_std, respnum_avg + respnum_std,
                color='b', alpha=0.2)

## We will also add dotted lines to demarcate the bounds of +- 1sd. 
ax.plot( respnum_avg.index, respnum_avg - respnum_std, linewidth=0.5, linestyle='--', color='k' )
ax.plot( respnum_avg.index, respnum_avg + respnum_std, linewidth=0.5, linestyle='--', color='k' )

## Add details.
ax.set_xlabel('Gain - Loss', fontsize=18)
ax.set_yticks([1,2,3,4])
ax.set_yticklabels(['Strong Accept', 'Weak Accept', 'Weak Reject', 'Strongly Reject'])
ax.tick_params(axis='both',which='major',labelsize=14)
ax.set_title('Example Line Plot', fontsize=24)

## Autoscore.
plt.tight_layout()

### Scatterplots
The synxtax of scatterplots is similar to that of lineplots. Whereas lineplots have different [linestyles](https://matplotlib.org/examples/lines_bars_and_markers/line_styles_reference.html), scatterplots have different [marker styles](https://matplotlib.org/api/markers_api.html). 

Here we make scatterplots of the average reaction time by diff values.

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(8,4))

## Make a new axis.
ax = plt.subplot(111)

## Plot gain. "s" controls the size of the marker; marker control the shape.
## Edgecolor adds an outline to the marker.
rt = data.groupby(['diff']).rt.mean()
ax.scatter( rt.index, rt, s=100, marker='o', color='c', edgecolor='k');

## Add details.
ax.set_xlim(-11, 36)
ax.set_xlabel('Gain - Loss', fontsize=18)
ax.set_ylabel('Reaction Time (s)', fontsize=18)
ax.tick_params(axis='both',which='major',labelsize=14)
ax.set_title('Example Scatter Plot', fontsize=24)

## Autoscore.
plt.tight_layout()

### Histrograms
Histograms are very easy fortunately. Here we will plot two subjects reaction times.

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(8,4))

## Make a new axis.
ax = plt.subplot(111)

## RT distribution for subj06.
ax.hist( data.loc[data.subj == 'subj06', 'rt'], bins=25, 
        label='subj06', color='#1b9e77', alpha=0.75 );

## RT distribution for subj10.
ax.hist( data.loc[data.subj == 'subj10', 'rt'], bins=25, 
        label='subj10', color='#7570b3', alpha=0.75 );

## Add details.
ax.set_xlabel('Reaction Time (s)', fontsize=18)
ax.set_ylabel('Frequency', fontsize=18)
ax.tick_params(axis='both', which='major', labelsize=14)
ax.set_title('Example Histogram', fontsize=24)
ax.legend(loc='best', fontsize=16, frameon=False);

plt.tight_layout();

### Heatmaps
Heatmaps are very useful plots, but slightly counterintuitive in Matplotlib. We will go through an example looking at the average likelihood-of-take as a function of gain and loss. A full list of colormaps can be found [here](https://matplotlib.org/examples/color/colormaps_reference.html).

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(8,6))

## Make a new axis.
ax = plt.subplot(111)

## Make groupby object by gain and loss.
resp = data.groupby(['gain','loss']).respcat.mean()

## Extract as matrix and reshape (there are 16 unique values for each).
resp = resp.as_matrix().reshape(16,16).T

## Plot. The parameters are as follows:
#### aspect: defines scaling. automatic scaling is preferable.
#### interpolation: smoothing of image. We want no smoothing.
#### origin: upper or lower, we want smaller values to begin in lower corner.
#### cmap: what colormap to use.
#### vmin, vmax: min,max values of colormap.
cbar = ax.imshow(resp, aspect='auto', interpolation='none', 
                 origin='lower', cmap='Blues', vmin=0, vmax=1)

## Add details.
ax.set_xticks(np.arange(0,16,2))
ax.set_xticklabels(np.unique(data.gain)[::2], fontsize=14)
ax.set_xlabel('Gain', fontsize=24)

ax.set_yticks(np.arange(0,16,2))
ax.set_yticklabels(np.unique(data.loss)[::2], fontsize=14)
ax.set_ylabel('Loss', fontsize=24)

## Add colorbar.
cbar = plt.colorbar(cbar, ax=ax);
cbar.ax.tick_params(labelsize=14) 
cbar.set_label('Average Response', fontsize=20)

### Embedding Multiple Plots in a Figure
With Matplotlib, there are 3.5 methods for constructing a figure with multiple embedded plots. These vary from minimal control of layout to maximal control of layout, and are as follows:
1. subplot/subplots: generates equal sized plots in a figure.
2. subplot2grid: generates plots of different sizes along a grid, minimal spacing options.
3. gridspec: generates plots of different sizes, many spacing options.

We have previously present subplot. Briefly we will show how subplot and subplots can be used to make a multiply-embedded figure.

In [ ]:
## Subplot example: Figure needs to be called.
fig = plt.figure(figsize=(5,5))

## Make 2x2 figure.
ax = plt.subplot(2,2,1)
ax.text(0.5,0.5,'ax1', fontsize=18, ha='center', va='center');

ax = plt.subplot(2,2,2)
ax.text(0.5,0.5,'ax2', fontsize=18, ha='center', va='center');

ax = plt.subplot(2,2,3)
ax.text(0.5,0.5,'ax3', fontsize=18, ha='center', va='center');

ax = plt.subplot(2,2,4)
ax.text(0.5,0.5,'ax4', fontsize=18, ha='center', va='center');

In [ ]:
## Subplots example: Figure can be called directly from command.

## Make 2x2 figure. Note that figsize can be directly called.
## Axes is a [2,2]-list of axes.
fig, axes = plt.subplots(2,2,figsize=(5,5))

## Iteratively add text.
for n in range(4):
    axes[n/2,n%2].text(0.5,0.5,'ax%s' %(n+1), fontsize=18, ha='center', va='center');

To use subplot2grid(), you provide geometry of the grid and the location of the subplot in the grid. Here we present an example geometry for a 3x3 grid.

In [ ]:
## subplot2grid example: Figure must be called.
fig = plt.figure(figsize=(5,5))

## Call subplot2grid. First argument specifies the global
## layout of the figure. Second argument specifies which
## axis you are generating. colspan/rowspan describes the
## length of the axes within the grid of the figure.

ax = plt.subplot2grid((3, 3), (0, 0), colspan=3)
ax.text(0.5,0.5,'ax1', fontsize=18, ha='center', va='center');

ax = plt.subplot2grid((3, 3), (1, 0), colspan=2)
ax.text(0.5,0.5,'ax2', fontsize=18, ha='center', va='center');

ax = plt.subplot2grid((3, 3), (1, 2), rowspan=2)
ax.text(0.5,0.5,'ax3', fontsize=18, ha='center', va='center');

ax = plt.subplot2grid((3, 3), (2, 0))
ax.text(0.5,0.5,'ax4', fontsize=18, ha='center', va='center');

ax = plt.subplot2grid((3, 3), (2, 1))
ax.text(0.5,0.5,'ax5', fontsize=18, ha='center', va='center');

Gridspec objects are similar to subplot2grid in that they allow different sized plots within a figure. Gridspec objects also allow spacing configuration of axes within the figure. To give an example, we embed two sets of six plots with a large gap between them.

In [ ]:
import matplotlib.gridspec as gridspec

## Initialize figure.
fig = plt.figure(figsize=(10,5))

## Define first 3x3 grid. 
gs = gridspec.GridSpec(3, 3)

## Update spacing parameters such that the figures can only
## extend to the 0.45 fraction of the figure.
gs.update(left=0.05, right=0.45, wspace=0.05)

## Create plots by indexing into grid.
ax1 = plt.subplot(gs[0, :])
ax2 = plt.subplot(gs[1, :-1])
ax3 = plt.subplot(gs[1:, -1])
ax4 = plt.subplot(gs[-1, 0])
ax5 = plt.subplot(gs[-1, -2])

## Define second 3x3 grid. 
gs = gridspec.GridSpec(3, 3)

## Update spacing parameters such that the figures can only
## start at 0.55 fraction of the figure.
gs.update(left=0.55, right=0.95, wspace=0.05)

## Create plots by indexing into grid.
ax1 = plt.subplot(gs[0, :])
ax2 = plt.subplot(gs[1, :-1])
ax3 = plt.subplot(gs[1:, -1])
ax4 = plt.subplot(gs[-1, 0])
ax5 = plt.subplot(gs[-1, -2])

## Pandas

Pandas also includes a number of plotting functions that help to cut down on code. For example, barplots can be constructed directly from a DataFrame object. The trouble is that these plots are fairly limited and require similar manual tweaking to get more aesthetically pleasing. They are useful, however, for quick inspections of the data.

In [ ]:
## Use groupby to compute averages.
gb = data.groupby('subj')
avg_resp = gb.respcat.mean()

## Make barplot from groupby object.
avg_resp.plot(kind='bar', figsize=(12,4), title='Example Pandas Barplot', fontsize=14);

In [ ]:
## Compute groupby gain.
gb = data.groupby('diff')
respnum_avg = gb.respnum.mean()

## Plot lineplot.
respnum_avg.plot('line', linewidth=3, figsize=(12,4), title='Example Pandas Lineplot', fontsize=14);

## Seaborn
The Seaborn statistical data visualization library was created to be the equivalent of ggplot2 for python. In other words, it is designed to rapidly turn around publication-ready plots from Pandas DataFrames with as minimal code as necessary. The [documention](https://seaborn.pydata.org/) is full of great examples that should be checked out. We will go through a few examples here.

### Style and Context
One of the great things about Seaborn is setting defaults. The defaults set a variety of parameters (e.g. colors, fonts, font sizes, etc.) that result in little tweaking of figures down the line. We introduce those two functions here.

In [ ]:
import seaborn as sns

## set_style sets the aesthetic style of the plots. This most dramatically 
## affects the background of plots and the presence (or absence) of gridlines.
sns.set_style('whitegrid')      # {white, whitegrid, dark, darkgrid}

## set_context sets the context parameters, affecting the size of labels,
## lines, and other elements of the plot.
sns.set_context('poster') # {notebook, paper, talk, poster}

## Text plot.
fig = plt.figure(figsize=(5,5))
plt.plot(np.arange(10), np.arange(10));

### Barplots
Let's first start by recreating the barplot from earlier (i.e. average response within subjects). As can be seen, substantially fewer lines of code are necessary. Moreover, 95% CIs are computed via bootstrap resampling.

In [ ]:
## Initialize figure.
fig = plt.figure(figsize=(12,4))

## Plot: Provide the x-axis, the y=axis, and dataframe.
sns.barplot('subj', 'respcat', data=data, color='#7ec0ee');

## Scale and cleanup plot.
sns.despine()
plt.tight_layout()

### Lineplots

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(12,4))

## Plot line plot.
ax = sns.regplot('diff', 'respnum', data=data, x_bins=np.unique(data['diff']));

## Fix axes.
ax.set_xlim(-11,36)
ax.set_ylim(0.5,4.5)
ax.set_yticks([1,2,3,4])
ax.set_yticklabels(['Strong Accept', 'Weak Accept', 'Weak Reject', 'Strongly Reject'])

## Scale and cleanup plot.
sns.despine()
plt.tight_layout()

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(12,4))

## Plot line plot.
ax = sns.regplot('diff', 'respcat', data=data, x_bins=np.unique(data['diff']), logistic=True);

## Fix axes.
ax.set_xlim(-11,36)
ax.set_ylim(-0.05,1.05)

## Scale and cleanup plot.
sns.despine()
plt.tight_layout()

### Scatterplots

In [ ]:
## Open new figure canvas. Define its size.
fig = plt.figure(figsize=(8,4))

## Make scatterplot.
ax = sns.regplot('diff', 'rt', data=data, order=2, x_bins=np.unique(data['diff']));
ax.set_xlim(-11,36)

## Scale and cleanup plot.
sns.despine()
plt.tight_layout()

### Histograms

In [ ]:
g = sns.FacetGrid(data, col='subj', col_wrap=4, sharex=True, sharey=False)
g.map(plt.hist, 'rt', bins=15, color='#1b9e77', lw=0.25);

### Heatmaps

In [ ]:
pivot = data.pivot_table(index='loss', columns='gain', values='respcat')
ax = sns.heatmap(pivot, vmin=0, vmax=1, cmap='Blues', linewidths=.5)
ax.invert_yaxis()

# Introduction to Statistics (SciPy + Statsmodels)
Statsmodels is the prominent statistical models package in the scientific python distribution. Statsmodels provides functionality for linear regression, generalized linear models, limited dependent variable models, ARMA and VAR models. The [Statsmodels documentation](http://www.statsmodels.org/stable/index.html) provides a full list of models and functions implemented. It draws its inspiration from the most popular R statistics packages (e.g. lme4) and uses the same statistical modeling syntax as R (e.g. "y ~ x"). As we will see, the package is still new and relatively limited as of the time of writing. Though the most basic models are implemented, more complex yet standard models (e.g. mixed-effects logistic regression) are not yet implemented. 

## Scipy Statistics Module
Before covering Statsmodels, we will first briefly introduce the scientific python (scipy) package. Expanding from NumPy (which provides the backend of arrays, matrices, and array-based functions), SciPy introduces a series of special modules for different important computations, including: integration, optimization, signal processing, image processing, and statistics. The [SciPy documentation](https://docs.scipy.org/doc/scipy/reference/) details the many powerful tools the package introduces.

The [SciPy stats module](https://docs.scipy.org/doc/scipy/reference/tutorial/stats.html) (scipy.stats) introduces a number of helpful functions, including:
* Statistical distributions (e.g. normal, student-t, inv-normal, gamma, beta, binomal..., [full list](https://docs.scipy.org/doc/scipy/reference/stats.html))
* Measures of distributional shape (e.g. kurtosis, skew, QQ-plots, KS-test)
* Basic statistical tests (e.g. linear correlation, nonparametric correlation, t-tests, one-way ANOVA, Chi-Square)

The SciPy package can be especially helpful when the user needs to compute quick statistics without necessarily needing to implement even simple models. 

### Interactive Probability Distributions
The SciPy package has already implemented a number of standard statistical distributions beyond the normal distribution. This can be combined with the awesome ipywidgets module to make interactive plots that help in understanding the influence of parameters in statistical distributions. Below we highlight the inverse-gamma distribution.

In [ ]:
import numpy as np
from scipy.stats import invgamma
from ipywidgets import interact

def plot_invgamma(alpha, beta, n_samp=1000):
    
    ## Sample from inverse-gamma distribution.
    np.random.seed(47404)
    arr = invgamma(alpha,loc=0,scale=beta).rvs(n_samp)
    arr = arr[arr < 12] # prune for visualization purposes
    
    ## Plot.
    fig = plt.figure(figsize=(6,4))
    plt.hist(arr, bins=25);
    plt.xlim(0,12);
    sns.despine();
    
interact(plot_invgamma, alpha=(0.1,5,0.1), beta=(0.1,5,0.1))

### Descriptive Statistics
Scipy has a number of functions useful for diagnosing the shape of data distributions, including higher order moments (kurtosis, skew, etc.). We highlight these functions with the case of reaction times, which tend to be heavily right-skewed (heavy tails to the right of the central tendency). We measure the kurtosis of Subject 1's reaction times, and plot a QQ-plot fitted to a normal distribution.

In [ ]:
from scipy.stats import kurtosis, probplot

## Extract subj01 RTs.
rt = data.loc[data.subj == 'subj01', 'rt']

## Compute skew.
computed_skew = kurtosis(rt, fisher=True)
print('The measured kurtosis is %0.3f. (Normal: kurt=0)' %computed_skew)

## QQ-plot.
fig, ax = plt.subplots(1,1,figsize=(5,5))
probplot(rt, plot=ax);
sns.despine()

### Basic Statistics
SciPy also has implemented several basic statistical functions for quickly computing statistics:
* Correlations: Pearson correlation (pearsonr), Spearman correlation (spearmanr), Kendall Tau (kendalltau)
* T-tests: one-sample t-test (ttest_1samp), two-sample t-test (ttest_ind), dependent sample t-test (ttest_rel)
* ANOVA: One-way ANOVA (f_oneway)
* Chi-square (chisquare, chi2_contingency)

We will quickly highlight a few of these functions.

In [ ]:
from scipy.stats import pearsonr, ttest_ind, f_oneway

## Simulate data from multivariate normal distribution.
## Two variables will share mean = 2, and two variables
## will be 0.4 correlated.

mu = [0,2,2]
cov = [[1.0, 0.4, 0.0],
       [0.4, 1.0, 0.0],
       [0.0, 0.0, 1.0]]

## Randomly sample 50 observations.
np.random.seed(47404)
mat = np.random.multivariate_normal(mu, cov, 50)

## Transpose so shape=(3,50)
mat = mat.T

## Compute correlation of pairs: (1,2), (1,3)
print('Correlation [1,2]: r = %0.3f, p = %0.3f' %pearsonr(mat[0], mat[1]))
print('Correlation [1,3]: r = %0.3f, p = %0.3f' %pearsonr(mat[0], mat[2]))

## Compute t-tests of pairs: (1,2), (2,3)
print('Indenpendent t-test [1,2]: t = %0.3f, p = %0.3f' %ttest_ind(mat[0], mat[1]))
print('Indenpendent t-test [2,3]: t = %0.3f, p = %0.3f' %ttest_ind(mat[1], mat[2]))

## Compute one-way ANOVA.
print('Oneway ANOVA: f = %0.3f, p = %0.3f' %f_oneway(*mat))

## Statsmodels
If you are familiar with R-styled formulas for regression, then Statsmodels + Pandas is a very powerful combo of packages for data analysis in python. We will cover only a few select examples, but know that many models are already implemented (e.g. OLS, GLM, GEE, WLS). Many more well-documented tutorials can be found [here](http://www.statsmodels.org/stable/examples/index.html#notebook-examples) and [here](https://github.com/statsmodels/statsmodels/wiki/Examples). 

### Linear Regression (OLS)
Below is a basic ordinary least squares (OLS) linear regression model measuring the relationship of subjective likelihood-of-take (respnum) against gain and loss.

In [ ]:
from statsmodels.api import OLS

## Define formula.
formula = 'respnum ~ gain + loss'

## Define model.
model = OLS.from_formula(formula, data=data)

## Fit model.
result = model.fit()

## Print summary.
result.summary2()

We can see if using only the diff variable is a more parsimonious fit of the data.

In [ ]:
## Define formula.
formula = 'respnum ~ diff'

## Define model.
model = OLS.from_formula(formula, data=data)

## Fit model.
result = model.fit()

## Print summary.
result.summary2()

### Linear mixed effects models
We might want to try a mixed effects model here, assuming that some people have trait-level decisional biases (e.g. risk-averse, risk-seeking).

In [ ]:
from statsmodels.api import MixedLM

## Define formula.
formula = 'respnum ~ gain + loss'

## Define model.
model = MixedLM.from_formula(formula, data=data, groups=data.subj)

## Fit model.
result = model.fit()

## Print summary.
result.summary()

In [ ]:
## Print random effects.
re = result.random_effects
for k,v in sorted(re.iteritems()):
    print('%s = %0.3f' %(k,v))

### Logistic Regression
Below is a basic logistic regression model measuring the relationship of categorical likelihood-of-take (respcat) against gain and loss.

In [ ]:
from statsmodels.api import Logit

## Define formula.
formula = 'respcat ~ gain + loss'

## Define model.
model = Logit.from_formula(formula, data=data)

## Fit model.
result = model.fit()

## Print summary.
result.summary2()

### ANOVA
As a basic example, we will perform a simple ANOVA testing for differences in the average reaction time across the diferent subjective likelihood-of-take values (respnum).

In [ ]:
import statsmodels.api as sm
from statsmodels.api import OLS

## Aggregate reaction times by subject and response category.
pivot_table = data.pivot_table(index='subj', columns='respnum', values='rt', aggfunc='median')

## Melt pivot table to long list.
llpt = pivot_table.melt(value_name='rt')

## Make respnum a categorical variable.
llpt['respnum'] = Categorical(llpt['respnum'])

## Define formula.
formula = 'rt ~ respnum'

## Define and fit model.
model = OLS.from_formula(formula, data=llpt)
fit = model.fit()

## Fit ANOVA model.
aov_table = sm.stats.anova_lm(fit, typ=2)
print aov_table

### Generalized Linear Models (GLM)
We finish with a generalized linear model showing the improvement of modeling reaction times with the gamma family of distributions. We show a regression of the diff variable and diff-squared on reaction time.

In [ ]:
from statsmodels.api import GLM, families

## Add new column.
data['diff2'] = data['diff'] ** 2

## Define formula.
formula = 'rt ~ diff + diff2'

## Fit model (when no family specified, defaults to normal distribution.)
result = GLM.from_formula(formula, data=data, subset=data.subj == 'subj01').fit()
result.summary2()

In [ ]:
## Fit model with gamma family.
result = GLM.from_formula(formula, data=data, subset=data.subj == 'subj01', 
                          family=families.Gamma()).fit()
result.summary2()